.titel {
    padding: 10px;
    margin-left: 55px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    background-color: rgb(238, 232, 232);
    border-radius: 5px;
}

.switch {
    margin-left: 1800px;
}