.titel {
    margin-top: 40px;
    margin-left: 50px;
}

.edit {
    margin-left: 200px;
}

.newrow {
    margin-left: 300px;
}

.titel-abs {
    margin-right: 20px;
}

.settings {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 600px;
    margin-right: 600px;
    padding: 20px;
    border: 1px solid black;
}