<form class="mat-app-background">
    <p class="titel mat-display-1">Technisches Anschlussgesuch (TAG)</p>
    <app-mt-card label="Ort der Installation"></app-mt-card>
    <div class="newrow">
        <app-mt-input label="Standort" width="500px"></app-mt-input>
        <app-mt-input label="Nr" width="100px"></app-mt-input>
    </div>

    <div class="newrow">
        <app-mt-input label="PLZ" width="100px"></app-mt-input>
        <app-mt-input label="Ort" width="400px"></app-mt-input>
    </div>

    <div class="newrow">
        <app-mt-input label="Gemeinde" width="500px"></app-mt-input>
        <app-mt-input label="" width="100px"></app-mt-input>
    </div>

    <div class="newrow">
        <app-mt-checkbox label="neu"></app-mt-checkbox>
        <app-mt-checkbox label="bestehend"></app-mt-checkbox>
        <app-mt-checkbox label=""></app-mt-checkbox>
        <app-mt-input label="" width="200px"></app-mt-input>
    </div>


    <app-mt-card label="Anlage / Gebäudeteil"></app-mt-card>
    <div class="newrow">
        <app-mt-input label="Zähler" width="600px"></app-mt-input>
    </div>
    <div class="newrow">
        <app-mt-input label="Netzanschluss (HAK)" width="200px"></app-mt-input>
    </div>
    <div class="newrow">
        <app-mt-checkbox label="neu"></app-mt-checkbox>
        <app-mt-checkbox label="bestehend"></app-mt-checkbox>
    </div>
    <app-mt-card label="Adressen / Geschäftspartner"></app-mt-card>

    <app-mt-switch label="dada"></app-mt-switch>
    <app-mt-radio [items]='["1", "2", "3"]'></app-mt-radio>

</form>