<mat-form-field>
    <mat-label>Font: </mat-label>
    <input matInput [(ngModel)]='font' appearance="fill">
</mat-form-field>

<div></div>
<span class="titel-abs">
    Appearance
</span>
<mat-radio-group [(ngModel)]='appearance'>
    <mat-radio-button value='fill' class="titel-abs">fill</mat-radio-button>
    <mat-radio-button value='outline' class="titel-abs">outline</mat-radio-button>
    <mat-radio-button value='standard' class="titel-abs">standard</mat-radio-button>
</mat-radio-group>


<!-- <mat-form-field appearance="fill">
    <mat-label>Appearance</mat-label>
    <select required [(ngModel)]='appearance'>
      <option value="standard">standard</option>
      <option value="fill">fill</option>
      <option value="outline">outline</option>
      <option value="legacy">legacy</option>
    </select>
</mat-form-field> -->
<div></div>
<mat-checkbox [(ngModel)]="disabled">Disabled</mat-checkbox>




<form class="mat-app-background">

    <p class="titel mat-display-1">Technisches Anschlussgesuch (TAG)</p>
    <app-mt-card label="Ort der Installation"> </app-mt-card>

    <div class="newrow">
        <app-mt-input disabled={{disabled}} appearance={{appearance}} font={{font}} label="Standort" width="500px"></app-mt-input>
        <app-mt-input disabled={{disabled}} appearance={{appearance}} font={{font}} label="Nr" width="100px" hint="Standort Nr"></app-mt-input>
    </div>


    <div class="newrow">
        <app-mt-input disabled={{disabled}} appearance={{appearance}} font={{font}} label="PLZ" width="100px"></app-mt-input>
        <app-mt-input disabled={{disabled}} appearance={{appearance}} font={{font}} label="Ort" width="400px"></app-mt-input>
    </div>

    <div class="newrow">
        <app-mt-input disabled={{disabled}} appearance={{appearance}} font={{font}} label="Gemeinde" width="500px"></app-mt-input>
        <app-mt-input disabled={{disabled}} appearance={{appearance}} font={{font}} label="" width="100px" hint="Gemeinde Zusatz"></app-mt-input>
    </div>

    <div class="newrow">
        <app-mt-checkbox label="neu"></app-mt-checkbox>
        <app-mt-checkbox label="bestehend"></app-mt-checkbox>
        <app-mt-checkbox label=""></app-mt-checkbox>
        <app-mt-input disabled={{disabled}} appearance={{appearance}} font={{font}} label="" width="200px"></app-mt-input>
    </div>


    <app-mt-card label="Anlage / Gebäudeteil"></app-mt-card>
    <div class="newrow">
        <app-mt-input disabled={{disabled}} appearance={{appearance}} font={{font}} label="Zähler" width="600px"></app-mt-input>
    </div>
    <div class="newrow">
        <app-mt-input disabled={{disabled}} appearance={{appearance}} font={{font}} label="Netzanschluss (HAK)" width="200px" suffix="A"></app-mt-input>
    </div>
    <div class="newrow">
        <app-mt-checkbox label="neu"></app-mt-checkbox>
        <app-mt-checkbox label="bestehend"></app-mt-checkbox>
    </div>
    <app-mt-card label="Adressen / Geschäftspartner"></app-mt-card>

    <!-- <app-mt-switch label="dada"></app-mt-switch> -->
    <!-- <app-mt-radio [items]='["1", "2", "3"]'></app-mt-radio> -->
    <app-mt-titel label="Einreichendes Unternehmen"></app-mt-titel>
    <app-mt-adresse font={{font}}></app-mt-adresse>
    <app-mt-titel label="Sachbearbeiter"></app-mt-titel>
    <app-mt-adresse font={{font}}></app-mt-adresse>
    <app-mt-titel label="Eigentümer (Betriebsinhaber)"></app-mt-titel>
    <app-mt-adresse font={{font}}></app-mt-adresse>
    <app-mt-radio label="Sprache" [items]='["De", "Fr", "It"]'></app-mt-radio>
    <app-mt-card label="Termine"></app-mt-card>
    <div class="newrow">
        <h3>Voraussichtliche Inbetriebnahme</h3>
    </div>
    <app-mt-card label="Geräte"></app-mt-card>
    <app-mt-yesnopanel label="Elektrische Wärme / Wärmepumpe (WP)"></app-mt-yesnopanel>
    <app-mt-yesnopanel label="Energieerzeugungsanlagen (EEA)"></app-mt-yesnopanel>
    <app-mt-yesnopanel label="Anlagen mit Netzrückwirkungen"></app-mt-yesnopanel>
    <app-mt-yesnopanel label="Energiespeicher"></app-mt-yesnopanel>
    <app-mt-yesnopanel label="Ladestationen für Elektrofahrzeuge"></app-mt-yesnopanel>


</form>