<div class="newrow">
    <app-mt-input font={{font}} label="Name" width="600px"></app-mt-input>
</div>
<div class="newrow ">
    <app-mt-input font={{font}} label="Adresse" width="600px"></app-mt-input>
</div>
<div class="newrow">
    <app-mt-input font={{font}} label="" width="600px"></app-mt-input>
</div>
<div class="newrow">
    <app-mt-input font={{font}} label="" width="100px"></app-mt-input>
    <app-mt-input font={{font}} label="" width="500px"></app-mt-input>
</div>
<div class="newrow">
    <app-mt-input font={{font}} label="Email" width="600px" suffix=".com"></app-mt-input>
</div>
<div class="newrow ">
    <app-mt-input font={{font}} label="Telefon" width="600px"></app-mt-input>
</div>