<div class="newrow">
    <app-mt-input label="Name" width="600px"></app-mt-input>
</div>
<div class="newrow ">
    <app-mt-input label="Adresse" width="600px"></app-mt-input>
</div>
<div class="newrow">
    <app-mt-input label="" width="600px"></app-mt-input>
</div>
<div class="newrow">
    <app-mt-input label="" width="100px"></app-mt-input>
    <app-mt-input label="" width="500px"></app-mt-input>
</div>
<div class="newrow">
    <app-mt-input label="Email" width="600px"></app-mt-input>
</div>
<div class="newrow ">
    <app-mt-input label="Telefon" width="600px"></app-mt-input>
</div>